h2 {
    font-size: 20px;
}

h5 {
    font-size: 16px;
}

p {
    font-size: 16px;
    font-weight: 200;

}

.nav {
    background-color: lightblue;
    justify-content: center;
}

.navbar {
    justify-content: space-between;
}